@model IEnumerable<StudentPlanner.Models.Project>
@using Microsoft.AspNet.Identity;

<div class="container-fluid itemView">

    <!-- Modal -->
    <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="projectModalLabel">Add Project</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Create", "Projects", new { @class = "projectForm" }))
                    {

                        <div class="form-horizontal">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <h5 class="control-label col-md-4">Project</h5>
                                <div class="col-md-8">
                                    @Html.TextBox("projectname", "", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="control-label col-md-4">Due Date</h5>
                                <div class="col-md-8">
                                    @Html.TextBox("duedate", "", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="control-label col-md-4">Course</h5>
                                <div class="col-md-8">
                                    @Html.DropDownList("CourseId", (SelectList)ViewBag.Courses, "", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <br />
                            <div class="col-md-offset-5 col-md-2">
                                <input type="submit" value="Add project" class="projectInput btn btn-success">
                            </div>
                        </div>
                    }

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <table class="table">
        <tr>
            <th class="itemListHeader">
                Project
            </th>
            <th class="itemListHeader">
                Due Date
            </th>
            <th class="itemListHeader">
                Course
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="itemListItem">
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td class="itemListItem">
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    <td class="itemListItem">
                        @Html.DisplayFor(modelItem => item.Cour.CourseName)
                    </td>
                    <td>
                    <td>@Html.ActionLink("Delete", "Delete", new { Controller = "Projects", Id = item.Id, user = User.Identity.GetUserId() }, null)</td>
                    </td>
                </tr>
            }
        }
    </table>
</div>